module.exports = {
  apps : [{
    name: 'Discord-Bot',
    script: 'src/bot/index.js',
    watch_delay: 1000,
    watch: ['src/bot/index.js','src/bot/commands','src/bot/db','src/bot/lib'],
    ignore_watch:['database.sqlite','*.sqlite-journal','*log','.git'],
    env: {
      NODE_ENV: "production",
      TOKEN: ""
    }
  }]
}
