// Set your colors
$primary: #0072c9;
$primary-invert: findcolorinvert($primary);
$twitter: #4099ff;
$twitter-invert: findcolorinvert($twitter);
@import '~bulma/sass/utilities/all'; // Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': ($white, $black,),
  'black': ($black, $white,),
  'light': ($light, $light-invert,),
  'dark': ($dark, $dark-invert,),
  'primary': ($primary, $primary-invert,),
  'info': ($info, $info-invert,),
  'success': ($success, $success-invert,),
  'warning': ($warning, $warning-invert,),
  'danger': ($danger, $danger-invert,),
  'twitter': ($twitter, $twitter-invert,),
); // Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary; // Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
$white: #fff;
$grey: darken($white, 15%);
$black: #333;

.container {
  max-width: 100vw;
  padding: 1em;
}

h1 {
  font-size: 150%;
  font-weight: 700;
}

.dialog .modal-card {
  max-width: 600px;
  width: 100%;
}

.table tr.is-selected {
  background-color: lighten($primary, 50);
  color: $black;
}

.app-title{
  font-size: 120%;
  font-weight: 700;
  margin: 1rem;
  color:white;
  text-align:center;
}

.main-content{
  margin-left:16.3rem;
}

.menu-list a {
    border-radius: 2px;
    color: $white;
    display: block;
    padding: .5em .75em;
}

.menu-list a:hover{
  background-color:darken($primary, 10);
  color: darken($white, 15);
}

.nuxt-progress{
  background-color: $primary;
}
